<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <th colspan="2">Список остатков на складах:</th>
  </tr>
  </thead>
  <tr><th>Товар</th><th>Склад</th><th>Количество</th>
  <%- @goods_whs.each do |gw| %>
    <tr><td><%= "#{gw.good.nomenclature}" %></td><td><%= "#{gw.warehouse.name}" %></td><td><%= "#{gw.quantity}" %></td>
  <%-end%>
</table>

<hr>
</body>
</html>