<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class='controls'>

</div>
<hr>
<div class='controls_add'>
  <div class='controls_container'>
    <%= link_to 'Войти', '/login', method: :get %>
  </div>
  <div class='controls_container'>
    <%= link_to 'Зарегистрироваться', '/register', method: :get %>
  </div>
</div>
</body>
</html>