<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class='controls'>

</div>
<div class='controls_add'>
  <div class='controls_container'>
    <p class = "text-center"><%= link_to 'Войти', '/login', method: :get %> </p>
  </div>
  <div class='controls_container'>
    <p class = "text-center"><%= link_to 'Зарегистрироваться', '/register', method: :get %> </p>
  </div>
</div>

<hr>
<h2 class="text-center">Добро пожаловать!</h2>
<%= image_tag("warehouse.jpg", :alt => "rss feed", class: "img-responsive center-block") %>

</body>
</html>