
table.operation_table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: #f5f8f7;
    color: #312828;
}
input[type='number']{
    width: 95%;
}
input[type='date']{
    width: 95%;
}

select{
    width: 85%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
select option {
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
}

th.operation_table {
    font-size: 18px;
    padding: 10px;
}
td.operation_table {
    padding: 10px;
}