<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th colspan="2">Список операций:</th>
  </tr>
  </thead>
  <tr><th>Товар</th><th>Склад</th><th>Агент</th><th>Тип</th><th>Количество</th><th>Цена</th><th>Дата</th></tr>
  <%- @operations.each do |op| %>
    <tr><td>op.goods_id</td><td>op.wh_id</td><td>op.ag_id</td><td>op.typeop</td><td>op.quantity</td><td>op.price</td><td>op.op_date</td></tr>
  <%-end%>
</table>
<hr>
</body>
</html>